body{
    background: #F9FBFD;
    text-align: center;
    
}

/* Position the title */
.title {
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* Set the font size to 2.5 rem */
    color: #8457B1; /* Set the color to the specified value */
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: 0.25em;
}

/* Position the subtitle below the title */
.subtitle {
    position: absolute;
    top: calc(88px + 2.5rem + 8px); /* Calculate the position */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #797876;
    text-align: center;
    letter-spacing: 0.1em;
}
  
/* CSS for responsive SVG */
.cloud-container {
    width: 100%; /* Make the container responsive, adjust as needed */
}

.cloud {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: wind 4.5s linear infinite;
    z-index: 4; 

    /* Apply the floatCloud animation */
    animation: floatCloud 5s ease-in-out infinite; /* Adjust duration as needed */

}

.cloud-small {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: wind 4.5s linear infinite;
    z-index: 4; 

    /* Apply the floatCloud animation */
    animation: floatCloud 5s ease-in-out infinite; /* Adjust duration as needed */

}

.cloud2 {
    position: absolute;
    margin-top: 60px;
    bottom: 0;
    left: 0px;
    animation: wind2 4.5s, floatCloud 5s ease-in-out infinite;
    z-index: 3; 

}

.cloud2-small {
    position: absolute;
    margin-top: 60px;
    bottom: 0;
    left: 0px;
    animation: wind2 4.5s, floatCloud 5s ease-in-out infinite;
    z-index: 3; 

}


.redthing {
    position: absolute;
    bottom: 0;
    right: 0px;
    top:700px;
    z-index: 5; 
}



.purplething {
    position: absolute;
    bottom: 0;
    left: 0px;
    animation: purplewind 3s linear infinite;
    z-index: 6; 
}

.purplething-small {
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 720px;
    animation: purplewind 3s linear infinite;
    z-index: 6; 
}

.wiggly-dark-purple {
    position: absolute;
    height:auto;
    width: 100%; 
    display: block; 
    bottom: 0;
    left: 0px; 
    z-index: 7; 
    top:850px;
}


/* Style for the container */
.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Place the container above other elements */
}

/* Style for the image */
#gratitudeImage {
        max-width: 100%;
        max-height: 100%;

 

    /* Apply the rotation animation */
    animation: rotateImage 120s linear infinite; /* Adjust duration as needed */
}



        /* Card container */
        .card {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 16px;
            background-color: rgba(92, 21, 87, 0.5);
            color: #fff;
            z-index: 8;
            position: relative; /* Ensure the card can be positioned */
            z-index: 7; /* Set a higher z-index to display on top of clouds */
            top: 700px; /* Position the card 500px from the top */
            font-weight: bold;
            letter-spacing: 1.6px;
        }

          /* Text field */
          .text-field {
            width: 95%;
            padding: 16px 0px 16px 16px; /* Add 20px of padding to the left */
            margin-right: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            border: 3px solid #ffffff;
            border-radius: 30px;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            letter-spacing: 1.6px;
            outline: #9F447C;
        
        }

/* Text field in the focused state */
.text-field:focus {
    border-color: #FEBB5F;
    border-width: 3px;
/* Change border color when focused */
}


         /* Send button */
         .send-button {
            display: block;
            width: 100%;
            padding: 16px;
            background-color: #FEBB5F; 
            color: #36383e;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            transition: background-color 0.3s ease;
        }
        

        
        /* Entries container */
        .entries {
            margin-top: 20px;
        }

        /* Individual entry */
        .entry {
            background-color: #9F447C; /* Entry background color */
            padding: 16px;
            border-radius: 30px;
            margin-bottom: 10px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            
        }

        /* Center the message */
        .message {
            text-align: center;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
        }

        /* Counter container */
        .counter {
            position: absolute;
            top: 100px; /* top position*/
            right: 60px; /* right position*/
            font-size: 16px;
            color: #FFAF43;
            text-align: center;
            font-family: open sans;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; /* 133.333% */
        }

        /* CSS for the colored section */
.colored-section {
    background-color: #5E1C5B;
    height: 900px;
    position: absolute; /* Position the section absolutely */
    top: 900px; /* Start at the desired point on the page */
}


@keyframes wind{
    0%, 100% {
        transform: translateX(0); /* Start and end position */
    }
    50% {
        transform: translateX(25px); /* Move slightly to the right */
    }
        
}

@keyframes wind2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes purplewind {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes redwind {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Define a custom rotation animation */
@keyframes rotateImage {
    0% {
        transform: rotate(0deg); /* Start with no rotation */
    }
    100% {
        transform: rotate(360deg); /* Rotate 360 degrees for one full rotation */
    }
}

@keyframes floatCloud {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move up slightly */
    }
    100% {
        transform: translateY(0);
    }
}

/* Media query for screens narrower than 768px (adjust as needed) */
@media (max-width: 768px) {
    /* Styles for smaller screens */
    .cloud {
        width: 300px; /* Adjust the width as needed for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
    .cloud2 {
        width: 100%; /* Adjust the width as needed for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    .cloud2-small {
        width: 300px; /* Adjust the width as needed for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    .cloud-small {
        width: 300px; /* Adjust the width as needed for smaller screens */
        height: auto; /* Maintain aspect ratio */


    }

    .purplething-small {
        width: 100%; /* Adjust the width as needed for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    .purplething {
        display: none;
    }

    .centered-svg {
        top: 15%; 
    }

    .card {
        top: 600px;
    }

    

}

/* Media query to hide the smaller cloud on screens wider than 768px */
@media (min-width: 769px) {
    .cloud-small {
        display: none;
    }


    .purplething-small {
        display: none;
    }

    .cloud2-small {
        display: none;
    }

    
}









/* Centered SVG container */
.centered-svg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the centered SVG is behind clouds */
}

.static-svg {
    width: 900px; /* Adjust size as needed */
    height: 900px;
}
